<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>3F94E3AC-E188-4D67-A50B-3E9E4939A66C.playgroundpage</string>
		<string>E60173A6-C497-4A62-A39C-EFB806051761.playgroundpage</string>
		<string>FC8153A5-12C5-4184-BAA3-274194BBFE4B.playgroundpage</string>
		<string>2531041F-EEEA-4A28-BFB4-B040F014CE82.playgroundpage</string>
		<string>07E5C8E3-FA67-4A9B-8A69-C36F1C3D8176.playgroundpage</string>
		<string>8D55E346-D620-430C-A6BF-A9AEAEEDD4C7.playgroundpage</string>
	</array>
</dict>
</plist>
